html {
	font-family: sans-serif;
}

#user-message {
	align-items: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	display: flex;
	overflow: hidden;
	position: absolute;
	left: 0;
	margin: 1.5em;
	padding: 1.5em;
	right: 0;
	top: 0;
	visibility: hidden;
}

#user-message-close {
	margin-left: auto;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  
  .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

.headliner {
	font-family: monospace;
	text-align: center;
	font-size: calc(1rem + 10vw);
}

.headliner2 {
	font-family: monospace;
	text-align: center;
	font-size: calc(1rem + 4vw);
}

.headliner3 {
	font-family: monospace;
	font-size: calc(1rem + 2vw);
}

.joinButton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	margin: 0px 16px 16px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: calc(1rem + 0.5vw);
}

.createButton {
	background-color: #008CBA; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	margin: 0px 16px 16px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: calc(1rem + 0.5vw);
}

.inputStyle {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.threeDRoom {
	margin:0;
	overflow: hidden; /* Hide scrollbars */
}

#podium {
	display: none;
	line-height: 100vh;
}

.podiumImg {
	vertical-align: middle;
}

#player-list {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-left: 0;
}

#player-list li {
	list-style: none;
	margin-left: 0;
	text-align: center;
	vertical-align: middle;
	width: max-content;
	justify-content: space-evenly;
	max-width: 200px;
}

.player {
	position: relative;
}

.player-summary::marker {
	display: none;
}

.player-summary::-webkit-details-marker {
	display: none;
}

.player-summary {
	cursor: pointer;
	list-style: none;
	word-break: break-all;
}

.details-body {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	left: 50%;
	line-height: 1.5;
	margin-top: 15px;
	max-width: 100%;
	padding: 0.75em;
	position: absolute;
	text-align: center;
	top: 100%;
	transform: translateX(-50%);
	width: max-content;
	z-index: 1;
}

.details-body::after {
	background-color: white;
	border: 1px solid black;
	border-color: black transparent transparent black;
	content: '';
	display: block;
	height: 8px;
	left: 50%;
	position: absolute;
	top: -2px;
	transform: rotate(45deg) translateX(-50%);
	width: 8px;
}

.details-body dl {
	margin: 0;
}

.details-body dt {
	font-weight: bold;
}

.details-body dd {
	margin-left: 0;
}

#game-options {
	display: none;
}

#game-table {
	display: none;
}

.cards {
	margin: 1.5em 0 1.5em 70px;
	display: flex;
	flex-direction: row;
}

.card {
    background-color: transparent;
	background-image: url(/client/images/black.svg);
	background-repeat: no-repeat;
	background-size: contain;
    border: 0;
	box-sizing: content-box;
	color: white;
    display: inline-block;
    font-size: calc(1rem + 0.5vw);
    height: 0;
	margin-left: -70px;
	overflow: hidden;
    padding: 181px 0 0 0;
    text-align: center;
	transition: transform 1000ms;
    vertical-align: middle;
    width: 121px;
	position: relative;
}

.cards .card {
	margin-top: 40px;
}

#last-played-cards .card {
	margin-top: 0;
}

.cards .card-to-play {
	margin-top: 0;
}

.number {
	position: absolute;
	top: 30px;
	line-height: 0.6;

	border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 8px;

    background: #fff;
    border: 2px solid #000000;
    color: #000000;
    text-align: center;
}

#draw-card {
	height: 181px;
	margin-left: 0;
	padding: 0;
}

.pick-card {
	margin-left: 0;
}

#last-played-cards {
	display: inline-flex;
	vertical-align: middle;
}

#play,
#pass,
#check-plus-four {
	display: none;
}

.card-black-W {
	background-image: url(/client/images/black-W.svg);
}

.card-black-plus-4 {
	background-image: url(/client/images/black-plus-4.svg);
}

.card-blue-0 {
	background-image: url(/client/images/blue-0.svg);
}

.card-blue-1 {
	background-image: url(/client/images/blue-1.svg);
}

.card-blue-2 {
	background-image: url(/client/images/blue-2.svg);
}

.card-blue-3 {
	background-image: url(/client/images/blue-3.svg);
}

.card-blue-4 {
	background-image: url(/client/images/blue-4.svg);
}

.card-blue-5 {
	background-image: url(/client/images/blue-5.svg);
}

.card-blue-6 {
	background-image: url(/client/images/blue-6.svg);
}

.card-blue-7 {
	background-image: url(/client/images/blue-7.svg);
}

.card-blue-8 {
	background-image: url(/client/images/blue-8.svg);
}

.card-blue-9 {
	background-image: url(/client/images/blue-9.svg);
}

.card-blue-R {
	background-image: url(/client/images/blue-R.svg);
}

.card-blue-S {
	background-image: url(/client/images/blue-S.svg);
}

.card-blue-plus-2 {
	background-image: url(/client/images/blue-plus-2.svg);
}

.card-blue-W {
	background-image: url(/client/images/blue-W.svg);
}

.card-blue-plus-4 {
	background-image: url(/client/images/blue-plus-4.svg);
}

.card-green-0 {
	background-image: url(/client/images/green-0.svg);
}

.card-green-1 {
	background-image: url(/client/images/green-1.svg);
}

.card-green-2 {
	background-image: url(/client/images/green-2.svg);
}

.card-green-3 {
	background-image: url(/client/images/green-3.svg);
}

.card-green-4 {
	background-image: url(/client/images/green-4.svg);
}

.card-green-5 {
	background-image: url(/client/images/green-5.svg);
}

.card-green-6 {
	background-image: url(/client/images/green-6.svg);
}

.card-green-7 {
	background-image: url(/client/images/green-7.svg);
}

.card-green-8 {
	background-image: url(/client/images/green-8.svg);
}

.card-green-9 {
	background-image: url(/client/images/green-9.svg);
}

.card-green-R {
	background-image: url(/client/images/green-R.svg);
}

.card-green-S {
	background-image: url(/client/images/green-S.svg);
}

.card-green-plus-2 {
	background-image: url(/client/images/green-plus-2.svg);
}

.card-green-W {
	background-image: url(/client/images/green-W.svg);
}

.card-green-plus-4 {
	background-image: url(/client/images/green-plus-4.svg);
}

.card-red-0 {
	background-image: url(/client/images/red-0.svg);
}

.card-red-1 {
	background-image: url(/client/images/red-1.svg);
}

.card-red-2 {
	background-image: url(/client/images/red-2.svg);
}

.card-red-3 {
	background-image: url(/client/images/red-3.svg);
}

.card-red-4 {
	background-image: url(/client/images/red-4.svg);
}

.card-red-5 {
	background-image: url(/client/images/red-5.svg);
}

.card-red-6 {
	background-image: url(/client/images/red-6.svg);
}

.card-red-7 {
	background-image: url(/client/images/red-7.svg);
}

.card-red-8 {
	background-image: url(/client/images/red-8.svg);
}

.card-red-9 {
	background-image: url(/client/images/red-9.svg);
}

.card-red-R {
	background-image: url(/client/images/red-R.svg);
}

.card-red-S {
	background-image: url(/client/images/red-S.svg);
}

.card-red-plus-2 {
	background-image: url(/client/images/red-plus-2.svg);
}

.card-red-W {
	background-image: url(/client/images/red-W.svg);
}

.card-red-plus-4 {
	background-image: url(/client/images/red-plus-4.svg);
}

.card-yellow-0 {
	background-image: url(/client/images/yellow-0.svg);
}

.card-yellow-1 {
	background-image: url(/client/images/yellow-1.svg);
}

.card-yellow-2 {
	background-image: url(/client/images/yellow-2.svg);
}

.card-yellow-3 {
	background-image: url(/client/images/yellow-3.svg);
}

.card-yellow-4 {
	background-image: url(/client/images/yellow-4.svg);
}

.card-yellow-5 {
	background-image: url(/client/images/yellow-5.svg);
}

.card-yellow-6 {
	background-image: url(/client/images/yellow-6.svg);
}

.card-yellow-7 {
	background-image: url(/client/images/yellow-7.svg);
}

.card-yellow-8 {
	background-image: url(/client/images/yellow-8.svg);
}

.card-yellow-9 {
	background-image: url(/client/images/yellow-9.svg);
}

.card-yellow-R {
	background-image: url(/client/images/yellow-R.svg);
}

.card-yellow-S {
	background-image: url(/client/images/yellow-S.svg);
}

.card-yellow-plus-2 {
	background-image: url(/client/images/yellow-plus-2.svg);
}

.card-yellow-W {
	background-image: url(/client/images/yellow-W.svg);
}

.card-yellow-plus-4 {
	background-image: url(/client/images/yellow-plus-4.svg);
}

#pick-blue {
	background-image: url(/client/images/blue.svg);
}

#pick-green {
	background-image: url(/client/images/green.svg);
}

#pick-red {
	background-image: url(/client/images/red.svg);
}

#pick-yellow {
	background-image: url(/client/images/yellow.svg);
}

#roundWinner,
#your-turn {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0;
}

#round-controls {
	display: none;
}

#player-scores summary {
	cursor: pointer;
}

#player-scores table {
	text-align: right;
}

#player-scores th, #player-scores td {
	padding-right: 1.5em;
}

.fireworks {
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}

.pyro > .before, .pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
	to {
		box-shadow: 209px -56.66667px #00c8ff, -32px -193.66667px #ff4800, -185px -121.66667px #3700ff, -240px -95.66667px #0040ff, -215px 4.33333px #2bff00, 200px -102.66667px #c3ff00, 171px -169.66667px cyan, -125px -222.66667px #0066ff, 198px -204.66667px #6200ff, 19px -257.66667px #08ff00, -209px -76.66667px #ff2200, -195px -372.66667px #00f6ff, 243px -350.66667px #fbff00, -166px -196.66667px #4000ff, -226px -191.66667px #00ff11, 75px 25.33333px #00aaff, 5px -137.66667px #3c00ff, -166px -111.66667px #e6ff00, 96px -292.66667px #00bbff, -225px -389.66667px #ff1e00, 82px -82.66667px #00ff0d, -103px -50.66667px #4cff00, -8px -337.66667px #0095ff, -18px -126.66667px #73ff00, -181px -170.66667px #73ff00, 34px 60.33333px #ff00aa, 63px -283.66667px #88ff00, 68px -411.66667px #b2ff00, 111px -95.66667px #aeff00, -199px -59.66667px #7700ff, 43px -376.66667px #00ffc8, -242px 74.33333px #ff1100, -192px -191.66667px #7300ff, 222px -241.66667px #006eff, -235px 25.33333px #ff0073, 107px -358.66667px #cc00ff, -49px -369.66667px deepskyblue, 203px -253.66667px #c8ff00, 180px 54.33333px #00ff22, 42px -382.66667px #ff00ea, -20px 34.33333px #0059ff, 11px 64.33333px #00ff55, 154px -114.66667px #5eff00, -137px -44.66667px #ffe100, -206px -136.66667px #ddff00, 231px -311.66667px #0077ff, 69px 42.33333px #ff8000, 173px 19.33333px #00fbff, 207px -140.66667px #d900ff, 239px -44.66667px #007bff, -100px 28.33333px #00bbff;
	}
}

@-moz-keyframes bang {
	to {
		box-shadow: 209px -56.66667px #00c8ff, -32px -193.66667px #ff4800, -185px -121.66667px #3700ff, -240px -95.66667px #0040ff, -215px 4.33333px #2bff00, 200px -102.66667px #c3ff00, 171px -169.66667px cyan, -125px -222.66667px #0066ff, 198px -204.66667px #6200ff, 19px -257.66667px #08ff00, -209px -76.66667px #ff2200, -195px -372.66667px #00f6ff, 243px -350.66667px #fbff00, -166px -196.66667px #4000ff, -226px -191.66667px #00ff11, 75px 25.33333px #00aaff, 5px -137.66667px #3c00ff, -166px -111.66667px #e6ff00, 96px -292.66667px #00bbff, -225px -389.66667px #ff1e00, 82px -82.66667px #00ff0d, -103px -50.66667px #4cff00, -8px -337.66667px #0095ff, -18px -126.66667px #73ff00, -181px -170.66667px #73ff00, 34px 60.33333px #ff00aa, 63px -283.66667px #88ff00, 68px -411.66667px #b2ff00, 111px -95.66667px #aeff00, -199px -59.66667px #7700ff, 43px -376.66667px #00ffc8, -242px 74.33333px #ff1100, -192px -191.66667px #7300ff, 222px -241.66667px #006eff, -235px 25.33333px #ff0073, 107px -358.66667px #cc00ff, -49px -369.66667px deepskyblue, 203px -253.66667px #c8ff00, 180px 54.33333px #00ff22, 42px -382.66667px #ff00ea, -20px 34.33333px #0059ff, 11px 64.33333px #00ff55, 154px -114.66667px #5eff00, -137px -44.66667px #ffe100, -206px -136.66667px #ddff00, 231px -311.66667px #0077ff, 69px 42.33333px #ff8000, 173px 19.33333px #00fbff, 207px -140.66667px #d900ff, 239px -44.66667px #007bff, -100px 28.33333px #00bbff;
	}
}

@-o-keyframes bang {
	to {
		box-shadow: 209px -56.66667px #00c8ff, -32px -193.66667px #ff4800, -185px -121.66667px #3700ff, -240px -95.66667px #0040ff, -215px 4.33333px #2bff00, 200px -102.66667px #c3ff00, 171px -169.66667px cyan, -125px -222.66667px #0066ff, 198px -204.66667px #6200ff, 19px -257.66667px #08ff00, -209px -76.66667px #ff2200, -195px -372.66667px #00f6ff, 243px -350.66667px #fbff00, -166px -196.66667px #4000ff, -226px -191.66667px #00ff11, 75px 25.33333px #00aaff, 5px -137.66667px #3c00ff, -166px -111.66667px #e6ff00, 96px -292.66667px #00bbff, -225px -389.66667px #ff1e00, 82px -82.66667px #00ff0d, -103px -50.66667px #4cff00, -8px -337.66667px #0095ff, -18px -126.66667px #73ff00, -181px -170.66667px #73ff00, 34px 60.33333px #ff00aa, 63px -283.66667px #88ff00, 68px -411.66667px #b2ff00, 111px -95.66667px #aeff00, -199px -59.66667px #7700ff, 43px -376.66667px #00ffc8, -242px 74.33333px #ff1100, -192px -191.66667px #7300ff, 222px -241.66667px #006eff, -235px 25.33333px #ff0073, 107px -358.66667px #cc00ff, -49px -369.66667px deepskyblue, 203px -253.66667px #c8ff00, 180px 54.33333px #00ff22, 42px -382.66667px #ff00ea, -20px 34.33333px #0059ff, 11px 64.33333px #00ff55, 154px -114.66667px #5eff00, -137px -44.66667px #ffe100, -206px -136.66667px #ddff00, 231px -311.66667px #0077ff, 69px 42.33333px #ff8000, 173px 19.33333px #00fbff, 207px -140.66667px #d900ff, 239px -44.66667px #007bff, -100px 28.33333px #00bbff;
	}
}

@-ms-keyframes bang {
	to {
		box-shadow: 209px -56.66667px #00c8ff, -32px -193.66667px #ff4800, -185px -121.66667px #3700ff, -240px -95.66667px #0040ff, -215px 4.33333px #2bff00, 200px -102.66667px #c3ff00, 171px -169.66667px cyan, -125px -222.66667px #0066ff, 198px -204.66667px #6200ff, 19px -257.66667px #08ff00, -209px -76.66667px #ff2200, -195px -372.66667px #00f6ff, 243px -350.66667px #fbff00, -166px -196.66667px #4000ff, -226px -191.66667px #00ff11, 75px 25.33333px #00aaff, 5px -137.66667px #3c00ff, -166px -111.66667px #e6ff00, 96px -292.66667px #00bbff, -225px -389.66667px #ff1e00, 82px -82.66667px #00ff0d, -103px -50.66667px #4cff00, -8px -337.66667px #0095ff, -18px -126.66667px #73ff00, -181px -170.66667px #73ff00, 34px 60.33333px #ff00aa, 63px -283.66667px #88ff00, 68px -411.66667px #b2ff00, 111px -95.66667px #aeff00, -199px -59.66667px #7700ff, 43px -376.66667px #00ffc8, -242px 74.33333px #ff1100, -192px -191.66667px #7300ff, 222px -241.66667px #006eff, -235px 25.33333px #ff0073, 107px -358.66667px #cc00ff, -49px -369.66667px deepskyblue, 203px -253.66667px #c8ff00, 180px 54.33333px #00ff22, 42px -382.66667px #ff00ea, -20px 34.33333px #0059ff, 11px 64.33333px #00ff55, 154px -114.66667px #5eff00, -137px -44.66667px #ffe100, -206px -136.66667px #ddff00, 231px -311.66667px #0077ff, 69px 42.33333px #ff8000, 173px 19.33333px #00fbff, 207px -140.66667px #d900ff, 239px -44.66667px #007bff, -100px 28.33333px #00bbff;
	}
}

@keyframes bang {
	to {
		box-shadow: 209px -56.66667px #00c8ff, -32px -193.66667px #ff4800, -185px -121.66667px #3700ff, -240px -95.66667px #0040ff, -215px 4.33333px #2bff00, 200px -102.66667px #c3ff00, 171px -169.66667px cyan, -125px -222.66667px #0066ff, 198px -204.66667px #6200ff, 19px -257.66667px #08ff00, -209px -76.66667px #ff2200, -195px -372.66667px #00f6ff, 243px -350.66667px #fbff00, -166px -196.66667px #4000ff, -226px -191.66667px #00ff11, 75px 25.33333px #00aaff, 5px -137.66667px #3c00ff, -166px -111.66667px #e6ff00, 96px -292.66667px #00bbff, -225px -389.66667px #ff1e00, 82px -82.66667px #00ff0d, -103px -50.66667px #4cff00, -8px -337.66667px #0095ff, -18px -126.66667px #73ff00, -181px -170.66667px #73ff00, 34px 60.33333px #ff00aa, 63px -283.66667px #88ff00, 68px -411.66667px #b2ff00, 111px -95.66667px #aeff00, -199px -59.66667px #7700ff, 43px -376.66667px #00ffc8, -242px 74.33333px #ff1100, -192px -191.66667px #7300ff, 222px -241.66667px #006eff, -235px 25.33333px #ff0073, 107px -358.66667px #cc00ff, -49px -369.66667px deepskyblue, 203px -253.66667px #c8ff00, 180px 54.33333px #00ff22, 42px -382.66667px #ff00ea, -20px 34.33333px #0059ff, 11px 64.33333px #00ff55, 154px -114.66667px #5eff00, -137px -44.66667px #ffe100, -206px -136.66667px #ddff00, 231px -311.66667px #0077ff, 69px 42.33333px #ff8000, 173px 19.33333px #00fbff, 207px -140.66667px #d900ff, 239px -44.66667px #007bff, -100px 28.33333px #00bbff;
	}
}

@-webkit-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-moz-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-o-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-ms-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
	}
}

@-webkit-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-moz-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-o-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-ms-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}

	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}

	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}

	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}

	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}